.bars_level-container {
  width: 100%;
  .bar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .progress-bar {
      width: 250px;
      background-color: var(--primary);
      border-radius: 13px;
      padding: 0px;
      transition: background 0.2s linear;
      div {
        background-color: var(--secondary);
        height: 20px;
        border-radius: 10px;
        transition: background 0.2s linear;
      }
    }
  }
}
