@import './../utils/sass/vars.scss';

.dots_level-container {
  width: 100%;
  .dots-rows {
    .dot-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 13px;
      .content {
        display: flex;
        align-items: center;
        p {
            margin-right: 5px;
        }
        svg {
            margin-left: 5px;
        }
      }
      .dots {
        display: flex;
        align-items: center;
        .il {
            margin: 0 3px;
            width: 30px !important;
            height: 25px !important;
        }
        #il0t, #il1t, #il2t, #il3t, #il4t {
            color: $soft-blue;
        }
        #il0f, #il1f, #il2f, #il3f, #il4f {
            color: $soft-blue;
        }
      }
    }
  }
}
