.main_list-container {
  width: 100%;
  position: relative;
  .main-rows {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 21px;
      height: 100%;
      border: 1px var(--primary) solid;
      border-width: 0 0 0 2px;
      transition: border 0.2s linear;
    }
    .main-row {
      margin-bottom: 15px;
      position: relative;
      padding-left: 20px;
      h3 {
        position: relative;
        &::before {
          content: "\A";
          display: block;
          position: absolute;
          z-index: 2;
          top: 0.5rem;
          left: -26.5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: var(--secondary);
          transition: background 0.2s linear;
        }
      }
      .list {
        margin-bottom: 0.5rem;
      }
      .list:last-child {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        padding-bottom: 0rem;
      }
      .detail {
        font-style: italic;
        color: var(--text);
        margin-bottom: 0.2rem;
      }
      .date {
        color: var(--text-opacity);
        margin-bottom: 0.5rem;
      }
      .paragraph {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.8rem;
        padding-bottom: 0;
      }
      .extra {
        height: 30px;
      }
    }
  }
}
