//total: w = 1200px; h = 1698px
/* $full-width: 1040px;
$full-height: 1518px;
$margin: 90px 80px; */
$full-width: 1200px;
// $full-height: 1698px; for A4
$full-height: auto;
$padding-x: 80px;
$padding-y: 48px;

//colors
$bg: #e7fffe;
$primary: #03a9fe;
$secondary: #083bc2;
$text: #1a1a1a;
$text-opacity: rgba(0, 0, 0, 0.5);
//dark-mode
$dark-bg: #252424;
$dark-primary: #196b56;
$dark-secondary: #193e36;
$dark-text: #dbd6d2;
$dark-text-opacity: #dbd6d26b;

.theme {
  --bg: #{$bg};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text: #{$text};
  --text-opacity: #{$text-opacity};
  &.theme-dark {
    --bg: #{$dark-bg};
    --primary: #{$dark-primary};
    --secondary: #{$dark-secondary};
    --text: #{$dark-text};
    --text-opacity: #{$dark-text-opacity};
  }
}

.myClass {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.2s linear, color 0.2s linear;
}
